.icon-label {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 18px;
	
	i {
		display: flex;
		align-items: center;
	}
}


.icon-label.reverse {
	flex-direction: row-reverse;
}

@media screen and (max-width: 700px) {
	.icon-label {
		font-size: 14px;
		
		img {
			width: 25px;
		}
	}
}