.rating {
	position: absolute;
	font-size: 18px;
	color: var(--color-accent);
	backdrop-filter: blur(35px);
	box-shadow: 0 2px 0 0 rgba(192, 27, 88, 0.81), 0 -2px 4px 0 rgba(192, 27, 88, 0.9);
	background: linear-gradient(136deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 7px 20px;
}