:root {
	--color-text: #565656;
	--color-title: #4E4E4E;
	--color-dark: #000000;
	--color-accent: #C01B58;
	--color-accent-hover: #e04f82;
	
	--color-background: #fff;
	--color-gray: #F2F3F4;
	--color-footer: #1B1E25;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

body {
	overflow-x: hidden;
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
	transition: color 0.5s,
	background-color 0.5s;
	line-height: 1.6;
	font-family: Gilroy, sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--color-text);
}