@font-face{
	font-family: "Montserrat";
	font-weight: 400;
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face{
	font-family: "Montserrat";
	font-weight: 500;
	src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face{
	font-family: "Montserrat";
	font-weight: 600;
	src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face{
	font-family: "Montserrat";
	font-weight: 700;
	src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face{
	font-family: "Gilroy";
	font-weight: 400;
	src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face{
	font-family: "Gilroy";
	font-weight: 500;
	src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face{
	font-family: "Gilroy";
	font-weight: 600;
	src: url('../fonts/Gilroy-Semibold.ttf') format('truetype');
}

@font-face{
	font-family: "Gilroy";
	font-weight: 700;
	src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}