header {
	padding: 35px 0;
}

@media screen and (max-width: 500px) {
	header {
		padding: 0;
		padding-bottom: 3px;
		
		.logo svg {
			width: 100px;
		}
		button {
			padding: 3px 10px;
			
			svg {
				width: 20px;
			}
		}
	}
}