@import 'base.css';
@import 'fonts.css';
@import 'header.css';
@import 'footer.css';
@import 'tools.css';
@import 'components.css';

.rating {
	transition: color .5s;
	
	path {
		fill: white;
		transition: fill .5s;
	}
}

.model .rating path {
	fill: var(--color-accent);
}

.slide.current {
	.rating {
		path {
			fill: var(--color-accent);
		}
	}
}

.extended-wrapper {
	width: 770px !important;
	max-width: 100%;
}